body {
  background-color: black;
}

* {
  font-size: large;
  font-family: Arial, sans-serif;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: hsl(122, 100%, 20%);
  border: 1px solid white;
}

button:disabled {
  color: gray;
  border-color: gray;
}

.center-container {
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
}

input {
  background-color: black;
  color: white;
}

input[type="number"] {
  width: 5ch;
}

.hidden {
  display: none;
}