body {
  background-color: hsl(0, 0%, 12%);
  font-size: large;
}

* {
  font-family: Arial, sans-serif;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: hsl(122, 100%, 20%);
  border: 1px solid white;
}

button:disabled {
  color: gray;
  border-color: gray;
}

input {
  font-size: 100%;
  background-color: black;
  color: white;
}

input[type="number"] {
  width: 5ch;
}

.white-border {
  border: 1px solid white;
}