body {
  background-color: black;
}

* {
  font-size: large;
  font-family: Arial, sans-serif;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: hsl(122, 100%, 20%);
  border: 1px solid white;
}

button:disabled {
  color: gray;
  border-color: gray;
}